<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Protect sensitive files (.env, artisan, composer.json, git, etc.)
    RewriteRule ^(\.env|artisan|composer\.(json|lock)|package\.(json|lock)|\.git) - [F,L,NC]

    # Redirect all traffic to the public directory
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
